/* Our Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: 'Monserrat', sans-serif;

}
.home{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url("../images/home.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh ;
}
/* Navigation */
.home-container > header {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    z-index: 10;
    top:0;
 }
header >.nav-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
 }

.nav-title{
    text-align: center;
    color: #e43247; 

}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-item > a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: 400;
    transition: 0.5s;
}
.nav-item > a:hover{
    color: #eea7bb;
}
.nav-social {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 3px;
    transition: .5s;
    font-size: xx-large;
}
.fa-youtube{
    color: red;
}
.fa-instagram{
    color: rgb(239, 88, 121);
}
.fa-linkedin{
    color: rgb(39, 91, 235);
}
.nav-social{
    display: flex;
    align-items: center;
}
.nav-social >a {
    margin-right: 10px;
}
.nav-social > a:first-child{
    margin-left: 15px;
}
.hamburger{
    color: white;
    font-size: xx-large;
    margin: 0 0 0 45px;
    display: none;
}
/* home-content */
.home-section {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-section > span {
    position: relative;
    top: 80px;
    
    font-size: 27px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #7f9cde;
    font-weight: bolder;
}
.home-section .home__title{
    font-size: 75px;
    margin-bottom: 2px;
    text-align: center;
    color: transparent ;
    background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.9) 0%, 
    rgba(253, 29, 29, 0.9)100%);
    background-clip: text;
    -webkit-background-clip: text;
}
.home-section .home__based {
    font-size: 22px;
    text-align: left;
    max-width: 480px;
    color: #eba8b3;
}
.home-section .home__description   {
        max-width: 480px;
        margin: 25px auto;
        font-size: 25px;
        text-align: left;
        font-weight: bold;
        color: #c26e78;
        
}
.home-button{
    text-decoration: none;
    padding: 10px 25px;
   
    color: #d3c4c6;
    font-weight: bolder;
    border-radius: 40px;
    border:2px solid #ffffff;
    transition: .5s;
    text-transform: uppercase;
}
.home-button:hover{
    background-color: #c26e78;
}


/* ABOUT section */

#about{
    display: grid;
    max-width: 1100px;
    padding: 80px 15px;
    margin: auto;
    grid-template-columns: 1/3 2/3;
    grid-auto-flow: column;
    gap: 85px  ;
    
    
    
} 
figure{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.profile-pic{
    border-radius:30px;
    padding: 15px;
    background-color: #f3f3f3;
    max-width: 270px;
}
.CV-btn , .contact-btn{
    padding: 15px 25px;
    background-color: #b7c4ec;
    border-style: solid;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px 0;
}
.CV-btn:hover{
    background-color: #c26e78;
    transition: .5s;
}
.contact-btn:hover{
    background-color: #c26e78;
    transition: .5s;
}

/* ABOUT section */

.about__text-title{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
.about__text-h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 1px;
}
h2 > span {
    color: #ca4c5b;
}
.about__text-h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #7f9cde;
}
.about__text-p{
    font-size: 15px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
    justify-content: left;
    max-width: 420px;
}
.about__text-p span{
    color: blue;
}
/* Tools */

.tool-section{
    min-width: 320px;
    font-size: 24px;
    color: #022079;
    margin-top: 10px;
    

}
.h4{
    color: #565656;
    font-weight: 400;
    max-width: 440px ;
}
.tools{
    display: grid;
    grid-template-columns: minmax(110px, 165px) minmax(110px, 165px) minmax(110px, 165px);
    
    
   
   
}

p.tool{
    height: 35px;
    width: 105px;
    background-color: #b7c4ecb6;
    padding: 8px 10px;
    align-items: center;
    display: flex;
    color: #022079;
    
}


.tool img {
    height: 80%;
    margin-right: 10px;
    
}

#services{
    height: 80vh;
    background-color: #e7e7e7;
    
    padding: 40px 40px;
}
#services h2{
    text-align: center;
    font-size: xx-large;
    color: #022079;
    padding: 50px 0 0 0;
    letter-spacing: 2px;
    line-height: 1;
   
}
#services .row{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 3rem;    
}

#services .service{
    background-color: #e2d1d1;
    padding: 35px 45px;
    border-radius: 8px;
   
}
#services .service .card-inner {
    transition: 0.7s;
    
    transform-style: preserve-3d;
    perspective: 500px;
   
}
#services .service:hover .card-inner {
      transform: rotateY(180deg);
     
} 
.card-back, .card-front{
    -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
}
#services .service .card-back  {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #e2d1d1;
    transform: rotateY(180deg);
}
.service ul.none {
    list-style: none;
} 
.service ul.list{
    list-style: circle;
}
.service li {
    margin: 10px 0 0 0;
}

li span{
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    

}
li span img{
   
    width: 110px;
    
}

/* Portfolio */

.portfolio {
    height: 100vh;
    padding-top: 50px;
    
}
.portfolio header h2{
    text-align: center;
    font-size: xx-large;
    color: #022079;
    padding: 30px 0;
    letter-spacing: 2px;
    line-height: 1;
}
.portfolio header p{
    text-align: center;
    font-size:larger;
    color: #022079;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 40px;
}
.portfolio .row-box {
    display: grid;
    background-color: #b7c4ec;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 50px;
    
}


.portfolio .project{
    padding: 0px 10px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.portfolio .project img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
    justify-content: center;
    
}
.portfolio article .project .hidden {
    
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3), rgb(255, 0, 79, 0.3), rgb(255, 0, 79, 0.8));
    position: absolute;
    width: 100%;
    height: 0;
    top: 0px;
    left: 0px;
    bottom: 0px;
    border-radius: 8px;
    overflow: hidden;   
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    transition: height 0.5s;
}
.portfolio article .project .hidden h2{
    font-size: 20px;
    font-size: 600;
    margin-bottom: 15px;
    color: #e43247;
    
}
.portfolio article .project .hidden p{
    text-align: left;
    width: 260px;
    line-height: 1.8;
    font-size: 1rem;
    color: #022079;
}
.portfolio article .project .hidden i {
    font-size: 1.5rem;
    color: #022079;
    background-color: #b7c4ec;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.portfolio .row-box .project:hover img {
    transform: scale(1.1);
}
.portfolio .row-box .project:hover .hidden {
    height: 100%;
}
footer {
    position: relative;
    background-color: #90a5e3;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.5rem;
}
footer a, footer a:visited {
    list-style: none;
    text-decoration: none;
    color: #022079;
    font-weight: 400;
    font-size: 1.5rem;
    
}
@media (max-width: 890px){
    
    nav > .nav-links{
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        position: absolute;
        top: 87px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
        /* NAv-SOCIAL */
    .nav-social{
        font-size: x-large;
    }
    .hamburger{
        font-size: x-large;
        display: inline;
        margin: 0 0 0 25px;
    }

    
    .home{
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url("../images/home-mobile.jpg");
        background-size: cover;
        background-position-x: center;
    }
    
    .home-section span {
        position: relative;
        top: 80px;
        letter-spacing: 4px;
        color: rgb(236, 96, 127);
        font-size: 22px;
    }
    .home-section .home__title{
        
        word-break: normal;
        padding: 20px 0;
        font-size: 54px;
        
    }
    .home-section .home__based{
        color: rgb(178, 168, 233);
        font-size: 20px;
        width: 300px;
       
        
        
    }
    .home-section .home__description{
        max-width: 300px;
        word-wrap: none;
        color: #879ad4;
        font-size: 20px;
        margin: 20px 0px;
        font-size: 16px;
        
        
    }
    .home-button{
        margin-top: 40px;
    }
    /* About */
    #about{
        grid-auto-flow: row;
        align-items: center;
        justify-content: center;
        min-width: 300px;
        margin: 0 20px;
    }
    h2 > span {
        color: #ca4c5b;
        display: inline-block;
    }
    .profile-pic{
        justify-content: center;
        max-width: 240px;
    }
    figure{
        margin: 15px auto;
    }
    
    .about__text-title{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .about__text-p{
        font-size: 15px;
        line-height: 25px;
        justify-content: left;
        max-width: 300px;
    }
    /* tool section */
    .tool-section{
        min-width: 300px;
        font-size: 24px;
        color: #022079;
        margin-top: 10px;
        
    
    }
    p.tool{
        height: 30px;
        width: 80px;
       
        font-size: small;
        
    }
    .h4{
        width: 300px;
    }
    .tool img {
        height: 80%;
        margin-right: 5px;
        
    }
    #services{
        height: 150vh;
        background-color: #e7e7e7;
        padding: 0px 30px;
    }
    #services h2{
        text-align: center;
        font-size: xx-large;
        color: #022079;
        margin-bottom: 50px;
    }
    #services .row{
        grid-auto-flow: row;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: #e7e7e7;
    }
    /* PORTFOLIO */
    .portfolio .row-box {
        display: grid;
        background-color: #b7c4ec;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: auto;
        grid-auto-flow: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
       
        margin: 20px auto;
        
    }
    .portfolio article .project {

        min-width: 280px;
        max-width: 390px;
        justify-content: center;
        align-items: center;
        padding:  20px;
        
    }
}