/* Our Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;
}
.home{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url("../images/home.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh ;
}
/* Navigation */
.home-container > header {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    z-index: 10;
    top:0;
 }
header >.nav-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
 }

.nav-title{
    text-align: center;
    color: #ca4c5b; 

}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-item > a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: 400;
    transition: 0.5s;
}
.nav-item > a:hover{
    color: #eea7bb;
}
.nav-social {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    transition: .5s;
    font-size: xx-large;
}
.fa-youtube{
    color: red;
}
.fa-instagram{
    color: rgb(239, 88, 121);
}
.fa-linkedin{
    color: rgb(39, 91, 235);
}
nav{
    display: flex;
    align-items: center;
}
nav > .nav-social >a {
    margin-right: 12px;
}
.nav-social > a:first-child{
    margin-left: 15px;
}
.hamburger{
    color: white;
    font-size: xx-large;
    margin: 0 0 0 45px;
    display: none;
}
/* home-content */
.home-section {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-section > span {
    position: relative;
    top: 80px;
    
    font-size: 27px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #7f9cde;
    font-weight: bolder;
}
.home-section .home__title{
    font-size: 75px;
    margin-bottom: 2px;
    text-align: center;
    color: #7a91d6;
}
.home-section .home__based {
    font-size: 22px;
    margin-bottom: px;
    text-align: left;
    max-width: 480px;
    color: #eba8b3;
}
.home-section .home__description   {
        max-width: 480px;
        margin: 25px auto;
        font-size: 25px;
        text-align: left;
        font-weight: bold;
        color: #c26e78;
        
}
.home-button{
    text-decoration: none;
    padding: 10px 25px;
   
    color: #d3c4c6;
    font-weight: bolder;
    border-radius: 40px;
    border:2px solid #ffffff;
    transition: .5s;
    text-transform: uppercase;
}
.home-button:hover{
    background-color: #c26e78;
}
/* ABOUT section */

#about{
    display: grid;
    max-width: 1100px;
    padding: 80px 15px;
    margin: auto;
    grid-template-columns: 1/3 2/3;
    grid-auto-flow: column;
    gap: 85px  ;
    
    
    
} 
figure{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px auto;
}

.profile-pic{
    border-radius:30px;
    padding: 15px;
    background-color: #f3f3f3;
    max-width: 270px;
}
.CV-btn , .contact-btn{
    padding: 15px 25px;
    background-color: #b7c4ec;
    border-style: solid;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px 0;
}
.CV-btn:hover{
    background-color: #c26e78;
    transition: .5s;
}
.contact-btn:hover{
    background-color: #c26e78;
    transition: .5s;
}

.about__text-title{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
.about__text-h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 1px;
}
h2 > span {
    color: #ca4c5b;
}
.about__text-h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #7f9cde;
}
.about__text-p{
    font-size: 15px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
    justify-content: left;
    max-width: 420px;
}

/* Tools */

.tool-section{
    min-width: 320px;
    font-size: 24px;
    color: #022079;
    margin-top: 10px;
    

}
.h4{
    color: #565656;
    font-weight: 500;
    max-width: 440px ;
}
.tools{
    display: grid;
    grid-template-columns: minmax(125px, 165px) minmax(125px, 165px) minmax(125px, 165px);
    
    
   
   
}

p.tool{
    height: 35px;
    width: 105px;
    background-color: #b7c4ecb6;
    padding: 8px 10px;
    align-items: center;
    display: flex;
    color: #022079;
    
}


.tool img {
    height: 80%;
    margin-right: 10px;
    
}

#services{
    height: 70vh;
    background-color: #e7e7e7;
    padding: 80px 40px;
}
#services h2{
    text-align: center;
    font-size: xx-large;
    color: #022079;
    margin-bottom: 70px;
}
#services .row{
    
    display: flex;
    width: 750px;
    gap: 40px;
    margin: 40px auto;
    
    
}
#services .read{
    display: none;
}

@media (max-width: 700px) {
    .about__text-title{
        display: flex;
        position: relative;
        margin-left: 110px;
    }
    .CV-btn , .contact-btn{
        padding: 15px 25px;
        background-color: #b7c4ec;
        border-style: solid;
        border-radius: 30px;
        cursor: pointer;
        margin-left: 40px;
        
        
    }
}


@media (max-width: 890px){
    
    nav > .nav-links{
        display: none;
    }
    
    .hamburger{
        padding: 0 7px 0 0;
        display: block;
    }
    .home{
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url("../images/home-mobile.jpg");
        background-size: cover;
        background-position-x: center;
    }
    
    .home-section span {
        position: relative;
        top: 100px;
        
        color: rgb(236, 96, 127);
        font-size: 22px;
    }
    .home-section .home__title{
        color: #554ed8;
        word-break: normal;
        padding: 20px 0;
        font-size: 54px;
        
    }
    .home-section .home__based{
        color: rgb(178, 168, 233);
        font-size: 20px;
        width: 340px;
       
        
        
    }
    .home-section .home__description{
        max-width: 400px;
        word-wrap: none;
        color: #879ad4;
        font-size: 20px;
        margin: 20px 0 45px 40px;
        font-size: 18px;
        
        
    }
    /* About */
    #about{
        grid-auto-flow: row;
        align-items: center;
        justify-content: center;
        min-width: 430px;
        margin: 0 10px;
    }
    .about__text-title{
        margin: 0 auto;
    }
    .profile-pic{
        width: 170px;
        padding: 14px;
        
    }
    figure{
        max-width: 330px;
       justify-content: center;
       padding: 0px 0;
        
    }
    
    /* tool section */
    p.tool{
        height: 30px;
        width: 90px;
       
        font-size: small;
        
    }
    .tool img {
        height: 85%;
        margin-right: 9px;
        
    }
    
}