* {
  margin: 0;
  box-sizing: border-box;
}
.body {
  font-family: "Actor", sans-serif;
  padding: 90px 20px 0;
  /* text-align: center; */
}
.header {
  background-color: #dbf1f6;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}
.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  color: #0b9120;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
  text-decoration: none;
}

.main-nav {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.main-nav__item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.main-nav__item a {
  text-decoration: none;
  color: #095eaa;
  padding: 8px 12px;
  border-radius: 3px;
}
.main-nav__item a:hover{
    background-color: #9df5fb;
    border-radius: 3px;
}
.main-nav__item a:active {
    color: #0b9120;
}
/* responsive toogle */
.nav__toggle {
  
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;

}

/* Responsive Navbar */
@media (max-width: 768px) {
    .body {
        padding-top: 70px;
    }

    .header {
        height: 60px;
    }

    .logo {
        font-size: 25px;
        line-height: 60px;
        padding: 0 20px;
    }

    .main-nav {
        flex-direction: column;
        align-items: center;
        border: none;
        background-color: #2c3e50;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        
        height: calc(100% - 60px);
        overflow-y: auto;
    
        left: 100%;
        transition: left 0.3s;
    }
    .main-nav__item {
        line-height: 70px;
    }

    .main-nav__item a:hover {
        background: none;
        color: #83c5f7;

    }
    
    .nav__toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
      }
    /* reacciona al TAB */
      .nav__toggle:focus:not(:focus-visible) {
        outline: none;
      }


 


}
/* Home */
.home__img {
 text-align: center;
 border-radius: 50%;   

}
.home__img img {
    border-radius: 50%;
}